<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#
    Dictionary<string, bool> operators = new Dictionary<string, bool>
    {
        ["+"] = false,
        ["-"] = false,
        ["*"] = false,
        ["/"] = true,
        ["&"] = false,
        ["|"] = false
    };
#>
// <copyright file="TestData.BasicOperatorsWithRandomNumbers.cs" company="Adrian Mos">
// Copyright (c) Adrian Mos with all rights reserved. Part of the IX Framework.
// </copyright>

using System.Collections.Generic;
using IX.DataGeneration;

namespace IX.UnitTests
{
    /// <summary>
    ///     Test data for IX.Math tests.
    /// </summary>
    public static partial class TestData
    {
        /// <summary>
        ///     Provides templated random text data for basic operators and parantheses.
        /// </summary>
        /// <returns>Test data.</returns>
        public static List<object[]> BasicOperatorsWithRandomNumbers()
        {
            // Define and initialize
            const int limit = 1000;
            var tests = new List<object[]>();
            int operand1, operand2, operand3;

            // Tests
<#
            foreach (var op in GenerateThreeFoldTestData(operators))
            { #>
            operand1 = DataGenerator.RandomNonNegativeInteger(limit);
            operand2 = DataGenerator.RandomNonNegativeInteger(limit);
            operand3 = DataGenerator.RandomNonNegativeInteger(limit);

            tests.Add(new object[]
            {
                $"<#= op.Item2 #>",
<# if (op.Item3 == null)
{#>
                null,
<#}
else
{#>
                new Dictionary<string, object> { <#= op.Item3 #> },
<#}#>
                <#= op.Item1 #>
            });

<# } #>
            // Return
            return tests;
        }
    }
}
<#+
    IEnumerable<Tuple<string, string, string>> GenerateThreeFoldTestData(Dictionary<string, bool> operators)
    {
        List<Tuple<string, string, string, bool>> initialStage = new List<Tuple<string, string, string, bool>>();
        foreach (var op in operators.Keys)
        {
            initialStage.Add(
                new Tuple<string, string, string, bool>(
                    operators[op] ?
                        $"(double)operand1 {op} (double)operand2":
                        $"operand1 {op} operand2",
                    $"{{operand1}} {op} {{operand2}}",
                    null,
                    operators[op]));
            initialStage.Add(
                new Tuple<string, string, string, bool>(
                    operators[op] ?
                        $"(double)operand1 {op} (double)operand2":
                        $"operand1 {op} operand2",
                    $"x {op} {{operand2}}",
                    @"[""x""] = operand1",
                    operators[op]));
            initialStage.Add(
                new Tuple<string, string, string, bool>(
                    operators[op] ?
                        $"(double)operand1 {op} (double)operand2":
                        $"operand1 {op} operand2",
                    $"{{operand1}} {op} y",
                    @"[""y""] = operand2",
                    operators[op]));
            initialStage.Add(
                new Tuple<string, string, string, bool>(
                    operators[op] ?
                        $"(double)operand1 {op} (double)operand2":
                        $"operand1 {op} operand2",
                    $"x {op} y",
                    @"[""x""] = operand1, [""y""] = operand2",
                    operators[op]));
        }

        List<Tuple<string, string, string>> secondStage = new List<Tuple<string, string, string>>();
        foreach (var op in operators.Keys)
        {
            foreach (var xy in initialStage)
            {
                secondStage.Add(new Tuple<string, string, string>(xy.Item1, xy.Item2, xy.Item3));

                if (xy.Item4 != operators[op])
                {
                    continue;
                }

                secondStage.Add(
                    new Tuple<string, string, string>(
                        operators[op] ?
                            $"(double)operand3 {op} (double)({xy.Item1})":
                            $"operand3 {op} ({xy.Item1})",
                        $"{{operand3}} {op} ({xy.Item2})",
                        xy.Item3));
                secondStage.Add(
                    new Tuple<string, string, string>(
                        operators[op] ?
                            $"(double)({xy.Item1}) {op} (double)operand3":
                            $"({xy.Item1}) {op} operand3",
                        $"({xy.Item2}) {op} {{operand3}}",
                        xy.Item3));
                secondStage.Add(
                    new Tuple<string, string, string>(
                        operators[op] ?
                            $"(double)operand3 {op} (double)({xy.Item1})":
                            $"operand3 {op} ({xy.Item1})",
                        $"z {op} ({xy.Item2})",
                        xy.Item3 == null ?
                            @"[""z""] = operand3" :
                            @"[""z""] = operand3, " + xy.Item3));
                secondStage.Add(
                    new Tuple<string, string, string>(
                        operators[op] ?
                            $"(double)({xy.Item1}) {op} (double)operand3":
                            $"({xy.Item1}) {op} operand3",
                        $"({xy.Item2}) {op} z",
                        xy.Item3 == null ?
                            @"[""z""] = operand3" :
                            @"[""z""] = operand3, " + xy.Item3));
            }
        }

        return secondStage;
    }
#>